//====================================================================================================
.footer {
  margin-top: rem(78);
  background: $mainRed;
  padding: rem(35) 0;
  // .footer__container
  &__container {
    display: flex;
    justify-content: space-between;
  }
  // .footer__column
  &__column {
    display: flex;
    flex-direction: column;
    row-gap: rem(11);
  }
  // .footer__title
  &__title {
    font-weight: 700;
    font-size: rem(26);
    line-height: math.div(32, 26);
    color: #FFFFFF;
  }
  // .footer__link
  &__link {
    font-size: rem(20);
    line-height: math.div(24, 20);
    color: #fff;
    white-space: nowrap;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .footer__callback
  &__callback {
  }
}
.callback-footer {
  display: flex;
  flex-direction: column;
  row-gap: rem(11);
  // .callback-footer__link
  &__link {
    font-weight: 700;
    line-height: math.div(20, 16);
    color: #fff;
    white-space: nowrap;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
//====================================================================================================
